{% block content %}
{% load static %}
{% load bootstrap_icons %}

<div class="row flex-lg-row-reverse align-items-center m-5 p-5 rounded-3 border shadow-lg">
    <div class="col-10 col-lg-5 align-items-center">
        <img src="{% static 'img/portrait.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-7">
        <h1 class="col-12 display-5 fw-bold text-body-emphasis lh-1 mb-3 justify-content-start">Hi, I'm Cole.</h1>
        <hr class="my-3">
        <p class="lead lh-lg text-start">
            I'm a <strong>Data Scientist</strong> with a background in <strong>Market Research</strong> and <strong>Cognitive Science</strong>, 
            translating structured and unstructured data into actionable insights that inform business decisions and increase revenue. 
            I'm keenly interested in leveraging machine learning and artificial intelligence to understand interests and behaviors of consumers and users.
        </p>
        <div class="row">
            <div class="col-6 d-grid gap-2 d-sm-flex justify-content-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Resume</button>
            </div>
            <div class="col-6 d-sm-flex justify-content-end">
                <a href="https://www.linkedin.com/in/colelandolt/">
                    <button type="button" class="btn icon-btn btn-sq-lg">{% bs_icon 'linkedin' size='40px' extra_classes="icon" %}</button>
                </a>
                <a href="https://github.com/colelandolt">
                    <button type="button" class="btn icon-btn btn-sq-lg">{% bs_icon 'github' size='40px' extra_classes="icon" %}</button>
                </a>
                <a href="https://medium.com/@colelandolt">
                    <button type="button" class="btn icon-btn btn-sq-lg">{% bs_icon 'medium' size='40px' extra_classes="icon" %}</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}